.App {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

body {
  background-color: #FBF3D5;
}

.block {
  background-color: #D6DAC8;
  padding: 50px;
}
img {
  width: 500px;
}

.cartIcon {
  width: 70px;
}

.categoryButtonSelected {
  background-color: #EFBC9B;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.categoryButton:hover {
background-color: #9CAFAA;
}

.categoryButtonSelected:hover {
  background-color: #9CAFAA;
}
.icon {
  width: 20px;
}

p, h1, h2, h3, button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #322C2B;
}

button {
  background-color: #EFBC9B;
  margin-top: 10px;
  margin-bottom: 10px;
  border: #EFBC9B 2px solid;
}
.quantity {
  background-color: #9CAFAA;
  border: #9CAFAA 2px solid;
  margin-left: 10px;
  margin-right: 10px;
}